*{
    padding: 0;
    margin: 0;
    font-family: myfont;
}

@font-face {
    font-family: myfont;
    src: url(RawengulkRegular-D6JW.ttf);
}
.icon{
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 4;
    color: black;
}

#blog-main{
    margin-left: 15vw;
    
}


#blog-header{
    margin: 0px 0px 10px 0px;
}

#blog-header p{
    padding: 10px;
    margin: 50px 0;
    border-bottom: solid rgb(175, 175, 175) 2px;
}



#image img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
#image{
    margin: 20px 0;
}

#blog-content{
    margin: 20px 10%;
    padding: 50px;
    background-color: rgba(176, 180, 192, 0.497);
    box-shadow: 0px 0px 10px 0px grey;
    padding-bottom: 200px;
}
#blog-content section{

}
#blog-content li{
    list-style-type:circle;
    margin-left: 20px;
}
#blog-content p{

}
#blog-section p, #blog-section h2{
    margin-top: 20px;
}
#blog-section p, #blog-section dd {
    line-height: 130%;
    font-size: 120%;
    margin-bottom: 40px;
}
#blog-section dl {
    margin-bottom: 40px;
}
#blog-section dt {
    font-size: 120%;
    
}
#blog-section dd {
    padding: 10px;
    margin-bottom: 20px;
}
#blog-section dt{
    color: black;
    font-weight: bold;
    
    
}


#blog-section ul li{
    font-size: 110%;
    list-style-type:disc;
}
#go-back{

}

.blog-text{
    font-size: 120%;
    font-weight: bold;
}
.in-text-link{
    font-weight: bold;
    color: rgb(221, 153, 26);
}
.in-text-link:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
#div-freelancing{
    border: 2px double orange;
    padding: 20px;
    background-color: rgba(234, 205, 166, 0.505);
}
#workplace{
    float: right;
    height: 300px;
    width: auto;
    margin: 10px;
}
#pro-con-list{
    display: flex;
    background-color: rgba(234, 205, 166, 0.505);
    padding: 20px;
}
#pros, #cons{
    flex: 1;
    padding: 10px;
}
#pro-con-list ul li{
    list-style-type: none;
    margin: 0;
    font-size: 110%;
    padding: 5px;
}
#pro-con-list .con{
    color: rgb(228, 109, 109);
    font-size: 300%;
    font-weight: bold;
}
#pro-con-list .pro{
    color: rgb(121, 228, 109);
    font-size: 200%;
    font-weight: bold;
}


#networking1, #pp{
    float: right;
    height: 250px;
    width: auto;
}
#networking2{
    float: left;
    height: 250px;
    width: auto;
    padding: 15px;
}
#tip{
    font-size: 110%;
    color: orange;
    background-color: rgba(0, 2, 47, 0.588);
    border: double rgb(0, 0, 0) 6px;
    padding: 0px 30px 20px 30px;
}
#net-con{
    text-align: center;
    font-size: 150%;
}
#net-text{
    margin: 10px 0;
}

#pp{
    margin: 20px;
}
#lms{
    padding: 20px;
    background-color: rgba(0, 2, 47, 0.245);
    border: solid rgb(61, 114, 148) 2px;

}
#trademark-list{
    margin: -20px 0px 10px 0px;
    padding-bottom: 40px;
}



#before{
    background-color: rgba(0, 2, 47, 0.245);
    border: double rgb(0, 0, 0) 6px;
    padding: 20px;
}
#ask{
    color: rgb(255, 253, 250);
    text-decoration: underline;
    text-align: center;
}
#link-online{
    text-align: center;
    margin-bottom: 50px;
}
#video-online{
    padding: 0 13%;
}
#video-online h3{
    text-align: center;
    width: 600px;
}
.title-online{
    text-decoration: underline;
    padding-bottom: 10px;
    font-size: 130%;
    text-align: center;
}
.center-list{
    text-align: center;
}
#center{
    color: rgba(0, 2, 47, 0.419);
    width: 400px;
    text-align: center;
    font-size: 170%;
    padding: 10px 0;
}
#sign{
    height: 200px;
    width: auto;
}
#sign-div{
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    margin-bottom: 50px;
}
#sign,#center{
    flex: 1;
}

#lists{
    display: flex;
}
#lists div{
    flex: 1;
}
#lists img{
    height: 300px;
    width: auto;
    float: right;
}
#w3c{
    background-color: rgba(0, 2, 47, 0.245);
    border: solid rgb(61, 114, 148) 2px;
    padding: 20px;
    margin: 50px 0;
}
#w3c h3{
    text-align: center;
}
#w3c-list{
    display: flex;
    padding: 20px;
}
#w3c ul{
    flex: 1;
}
#w3c ul li{
    padding: 5px;
}

#scrum{
    padding: 20px;
}
#scrum ul li{
    padding: 10px;
}

#agile-img{
    height: 400px;
}
#agile-values{
    padding: 10px;
    font-size: 120%;
    

}
#agile-values li{
    padding: 10px;
    list-style: none;
}
#agile-div h3{
    padding: 10px;
    font: 120%;
}

#previous{
    margin: 50px;
    text-align: left;
    float: left;
    width: 300px;
    font-weight: bold;
}
#forward{
    margin: 50px;
    text-align: right;
    float: right;
    width: 300px;
    font-weight: bold;
}
#forward a, #previous a{

    color: rgb(221, 153, 26);
}
#forward a:hover, #previous a:hover{
    color: rgb(0, 0, 0);
}


#ip-ask{
    padding: 10px;
    font-weight: bold;
    font-size: 180%;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 50px;
    background-color: rgba(234, 205, 166, 0.505);
    border: solid orange 2px;
}
.in-text{
    font-weight: bold;
}

#images-ip, #images-net{
    display: flex;
}
#images-ip img{
    flex: 1;
    width: 200px;
    height: 200px;
    margin: 5px;
}
#images-net img{
    flex: 1;
    width: 200px;
    height: auto;
    margin: 20px;
}

#free-title{
    text-align: center;
    padding: 10px;
    font-size: 150%;
    width: 80%;
    margin: auto;
}
#free-list{
    padding: 20px;
    margin-top: -40px;
    font-size: 110%;
}
#free-list li{
    padding: 10px;
}